@import "../css/normolize.css";
@import "../css/nulling-styles.css";
@import "../css/fonts.css";
.logo, .logo__image, .logo__link {
  width: 241px;
  height: 40px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.logo__image, .logo__link {
  display: inline-block;
}
@media (hover: hover) {
  .logo__link:hover {
    -webkit-filter: brightness(60%);
            filter: brightness(60%);
  }
}
.logo__link:active {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
@media (max-width: 768px) {
  .logo, .logo__image, .logo__link {
    width: 147px;
    height: 25px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 17px;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.nav__list--header {
  margin-right: auto;
}
@media (max-width: 768px) {
  .nav__list--footer {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 2px;
  }
}
@media (max-width: 1500px) {
  .nav__list {
    width: 100%;
    margin-right: unset;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 1000px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__list--mobile {
    margin: 0 0 56px;
  }
}
.nav__link {
  display: inline-block;
  font-family: "google-sans", sans-serif;
  font-size: 19px;
  line-height: 151%;
  color: hsla(240, 7%, 94%, 0.6);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.nav__link-mobile-menu {
  font-family: "gotham-pro	", sans-serif;
  font-size: 20px;
  line-height: 148%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
}
@media (hover: hover) {
  .nav__link:hover {
    color: rgba(239, 239, 241, 0.7);
  }
}
.nav__link:active {
  color: #efeff1;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
@media (max-width: 768px) {
  .nav__link {
    font-size: 14px;
    line-height: 156%;
  }
}
.nav__btn {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  font-family: "google-sans", sans-serif;
  font-size: 19px;
  line-height: 105%;
  color: #fff;
  background: rgba(32, 33, 48, 0.6);
  padding: 21.5px 28.5px;
  border-radius: 13px;
}
@media (hover: hover) {
  .nav__btn:hover {
    background: rgba(32, 33, 48, 0.8);
  }
}
.nav__btn:active {
  background: #202130;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
@media (max-width: 1000px) {
  .nav__btn {
    margin: 0 0 146px;
    font-size: 14px;
    line-height: 156%;
    padding: 15px 45px;
    border-radius: 0px;
  }
}
@media (max-width: 1000px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 172px 0 105px;
    gap: 0;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socials--footer {
  gap: 25px;
}
@media (max-width: 1000px) {
  .socials--footer {
    gap: 10px;
  }
}
.socials__item {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.socials__item--footer {
  padding: 11px 0 0;
  width: 34px;
}
@media (max-width: 1000px) {
  .socials__item {
    width: 42px;
    height: 49px;
  }
}
@media (max-width: 1000px) {
  .socials__item {
    width: 28px;
    height: 36px;
  }
}
.socials__icon {
  fill: #fff;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.socials__icon--telegram {
  width: 21px;
  height: 21px;
}
@media (max-width: 1000px) {
  .socials__icon--telegram {
    width: 19px;
    height: 19px;
  }
}
.socials__icon--vk {
  width: 25px;
  height: 26px;
}
@media (hover: hover) {
  .socials__icon:hover {
    fill: #c9c9c9;
  }
}
.socials__icon:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  fill: #787878;
}
@media (hover: none) {
  .socials__icon:active {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    fill: #787878;
  }
}

.header {
  margin-top: 34px;
  min-height: 64px;
}
.header .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.header__nav {
  max-width: 980px;
  width: 100%;
}
@media (max-width: 1000px) {
  .header__nav {
    display: none;
  }
}
@media (max-width: 768px) {
  .header {
    margin-top: 12px;
    min-height: 32px;
  }
}

/* ====mobile-menu==== */
.mobile-menu {
  display: none;
}
@media (max-width: 1000px) {
  .mobile-menu {
    display: block;
  }
}
.mobile-menu__burger {
  display: block;
  width: 32px;
  height: 32px;
  background-color: transparent;
  padding: 13px 0 11px;
  cursor: pointer;
}
.mobile-menu__burger span {
  display: block;
  position: relative;
  width: 32px;
  height: 1px;
  background-color: #fff;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.mobile-menu__burger span::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 8px;
  width: 24px;
  height: 1px;
  background-color: #fff;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.mobile-menu__wrapper {
  position: absolute;
  right: 0;
  top: 98px;
  width: 100%;
  min-height: 100%;
  background-color: #100f15;
  visibility: hidden;
  opacity: 1;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: translateY(calc(-100% - 98px));
          transform: translateY(calc(-100% - 98px));
}
@media (max-width: 768px) {
  .mobile-menu__wrapper {
    top: 44px;
  }
}
.mobile-menu__wrapper__box {
  width: 100%;
  background-color: transparent;
  /*z-index: 1;*/
}

#menu-switch[type=checkbox] {
  display: none;
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__burger span::after, #menu-switch[type=checkbox]:checked ~ .mobile-menu__burger span {
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 2px;
  left: 2px;
  width: 28px;
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__burger span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
  left: 0;
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__wrapper {
  visibility: visible;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

/* ====END-mobile-menu==== */
.footer {
  min-height: 238px;
}
@media (max-width: 768px) {
  .footer__logo, .footer__logo .logo__link, .footer__logo .logo__image {
    width: 203px;
    height: 40px;
  }
}
.footer__nav {
  min-height: 90px;
  padding: 0 0 42px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
}
@media (max-width: 768px) {
  .footer__nav {
    padding: 0 0 28px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 20px;
  }
}
.footer__copyright {
  padding: 28px 0 60px;
  border-top: 1px solid #57575b;
}
@media (max-width: 768px) {
  .footer__copyright {
    padding: 24px 0 48px;
  }
}
.footer__copyright-text {
  color: #57575b;
}
@media (max-width: 768px) {
  .footer__copyright-text {
    font-size: 12px;
    line-height: 151%;
  }
}

body {
  font-family: "google-sans", sans-serif;
  font-size: 19px;
  line-height: 151%;
  background: #100f15;
  color: rgba(255, 255, 255, 0.7);
}

.center {
  max-width: 1590px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */