.accordion {
  padding: 0 0 197px;
  @media (max-width: 768px) {
    padding: 0 0 80px;
  }

  &__title {
    margin: 0 0 12px;
    letter-spacing: 0 !important;
    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 148%;
      margin: 0 0 11px;
    }
  }
  &__text {
    color: $text-color-main;
    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 156%;
    }
    &--center {
      text-align: center;
      max-width: 856px;
      width: 100%;
      margin: 0 auto 56px;
      @media (max-width: 768px) {
        margin: 0 auto 32px;
      }
    }
  }
  &__wrapper {
    max-width: 1296px;
    width: 100%;
    margin: 0 auto;
  }
  &__item-heading {
    font-family: $font-family;
    text-transform: unset;
    font-size: 19px;
    line-height: 151%;
    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 156%;
    }
  }
  &__input {
    display: none;

    &:checked ~ .accordion__body {
      @starting-style {
        opacity: 0;
      }
      opacity: 1;
      display: block;
      padding: 10px 0 60px;
      transition: all 0.8s linear 0s;
      @media (max-width: 768px) {
        padding: 5.5px 0 24px;
      }
    }
    &:checked + .accordion__button > span::before,
    &:checked + .accordion__button > span::after {
      transform: rotate(45deg);
      width: 19.8px;
      left: -3.4px;
    }
    &:checked + .accordion__button > span::after {
      transform: rotate(135deg);
    }
  }

  &__button {
    @include flexCenterSpaceBetwen;
    min-height: 89px;
    margin: 0 0 15px;
    padding: 30px 42px 30px 37px;
    background-color: $text-color-dark;
    color: $text-color-light;
    border-radius: 12px;
    cursor: pointer;
    user-select: none;
    @media (max-width: 768px) {
      min-height: 84px;
      margin: 0 0 8px;
      padding: 20px 29px 20px 28px;
    }

    span {
      margin: 0 0 0 20px;
      display: block;
      position: relative;
      top: -2px;
      width: 14px;
      height: 14px;
      background: transparent;
      transition: all 0.4s ease 0s;
    }
    span::before,
    span::after {
      position: absolute;
      content: "";
      width: 14px;
      height: 2px;
      border-radius: 5px;
      background: $text-color-light;
      left: 0;
      top: 7px;
      transform: rotate(90deg);
      transition: all 0.4s ease 0s;
    }
    span::after {
      transform: rotate(0deg);
    }
  }

  &__body {
    display: none;
    padding: 0 13px 37px;
    border-radius: 0 0 25px 25px;
    background-color: transparent;
    transition: all 0.4s linear 0s;
    opacity: 0;
    transition-behavior: allow-discrete;
  }
}
