.footer {
  padding: 229px 0 0;
  min-height: 238px;
  @media (max-width: 1000px) {
    padding: 84px 0 0;
  }
  &__logo,
  &__logo .logo__link,
  &__logo .logo__image {
    @media (max-width: 768px) {
      width: 203px;
      height: 40px;
    }
  }
  &__nav {
    min-height: 90px;
    padding: 0 0 42px;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
    @media (max-width: 768px) {
      padding: 0 0 26px;
      align-items: start;
      gap: 20px;
    }
  }
  &__copyright {
    padding: 28px 0 60px;
    border-top: 1px solid #57575b;
    @media (max-width: 768px) {
      padding: 24px 0 48px;
    }
  }
  &__copyright-text {
    color: #57575b;
    @media (max-width: 768px) {
      font-size: 12px;
      line-height: 151%;
    }
  }
}
