.header {
  margin-top: 34px;
  min-height: 64px;
  .center {
    @include flexCenterSpaceBetwen;
    gap: 15px;
  }
  &__logo {
    position: relative;
    z-index: 3;
  }
  &__nav {
    max-width: 980px;
    width: 100%;
    // @media (max-width: 1000px) {
    //   display: none;
    // }
  }
  // @media (max-width: 768px) {
  //   margin-top: 12px;
  //   min-height: 32px;
  // }
}

/* ====mobile-menu==== */

.mobile-menu {
  display: none;
  // @media (max-width: 1000px) {
  //   display: block;
  // }
  &__burger {
    position: relative;
    z-index: 3;
    display: block;
    width: 32px;
    height: 32px;
    background-color: transparent;
    padding: 13px 0 11px;
    cursor: pointer;
  }
  &__burger span {
    display: block;
    position: relative;
    width: 32px;
    height: 1px;
    background-color: #fff;
    transition: all 0.4s ease 0s;
  }
  &__burger span::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 8px;
    width: 24px;
    height: 1px;
    background-color: #fff;
    transition: all 0.4s ease 0s;
  }
  &__wrapper {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    background-color: $page-bg;
    visibility: hidden;
    opacity: 1;
    z-index: 1;
    transition: all 0.8s ease 0s;
    transform: translateY(calc(-100% - 98px));
    &__box {
      width: 100%;
      background-color: transparent;
      /*z-index: 1;*/
    }
  }
}
#menu-switch[type="checkbox"] {
  display: none;
  &:checked ~ .mobile-menu__burger span::after,
  &:checked ~ .mobile-menu__burger span {
    transition: all 0.8s ease 0s;
    transform: rotate(-45deg);
    top: 2px;
    left: 2px;
    width: 28px;
  }
  &:checked ~ .mobile-menu__burger span::after {
    transform: rotate(90deg);
    top: 0;
    left: 0;
  }
  &:checked ~ .mobile-menu__wrapper {
    visibility: visible;
    transform: translateY(0%);
  }
}
/* ====END-mobile-menu==== */
