// colors
$page-bg: #100f15;
$accent-bg-text: linear-gradient(10deg, #f3e43b 0%, #ffaf2e 100%);
$accent-bg: linear-gradient(5deg, #fbc81f 0%, #ffaf2e 88.5%);
$accent-bg-mobile: linear-gradient(8deg, #fbc81f 0%, #ffaf2e 88.5%);
$accent-bg-hover: linear-gradient(5deg, #ffd23e 0%, #ffb43d 88.5%);
$accent-bg-active: linear-gradient(5deg, #fbc81f 0%, #ffaf2e 88.5%);
$icons-bg: #28272d;
$button-bg: #20213099;
$advantage-card-bg: #15141a;
$advantage-card-bg-accent: #161a2799;
$button-bg-mobile: #131620;
$button-bg-hover: #202130cc;
$button-bg-active: #202130;
$text-color-main: #efeff199;
$text-color-secondary: #efeff1;
$text-color-main-hover: rgba(239, 239, 241, 0.7);
$text-color-main-active: #efeff1;
$text-color-dark: #15141a;
$text-color-light: #fff;
$text-color-light-hover: #c9c9c9;
$text-color-light-active: #787878;
// fonts
$font-family: "google-sans", sans-serif;
$font-family-regular: "google-sans500", sans-serif;
$second-family: "gotham-pro", sans-serif;

// mixins
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexCenterSpaceBetwen {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin active-mobile {
  @media (hover: none) {
    &:active {
      @content;
    }
  }
}
@mixin active {
  &:active {
    @content;
  }
}
@mixin button($_ff, $_fs, $_lh, $_color, $_bg, $_pad, $_br) {
  font-family: $_ff;
  font-size: $_fs;
  line-height: $_lh;
  color: $_color;
  background: $_bg;
  padding: $_pad;
  border-radius: $_br;
}
