// connecting main css files
@import "../css/normolize.css";
@import "../css/nulling-styles.css";
@import "../css/fonts.css";
// connecting scss files
@import "./variables";
// blocks
@import "./logo.scss";
@import "./nav.scss";
@import "./socials.scss";
@import "./header.scss";
@import "./footer.scss";

// properties
body {
  font-family: $font-family;
  font-size: 19px;
  line-height: 151%;
  background: $page-bg;
  color: rgba(255, 255, 255, 0.7);
}
.center {
  max-width: 1590px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
