// connecting main css files
@import "../css/normolize.css";
@import "../css/nulling-styles.css";
@import "../css/fonts.css";
// connecting scss files
@import "./variables";
// blocks
@import "./logo.scss";
@import "./nav.scss";
@import "./socials.scss";
@import "./header.scss";

// properties
body {
  background: $page-bg;
}
.center {
  max-width: 1590px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
